.productDetailsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  font-size: x-large;
  padding: 2rem;
  text-align: center;
}

.price {
  font-size: x-large;
  font-weight: 600;
  color: #ff934f;
}

.description {
  margin: 2rem;
  padding: 2rem;
  background-color: #e98d54;
  color: white;
  border-radius: 2rem;
}

.image {
  width: 20rem;
}

.rating {
  padding: 1rem;
}

.addButton {
  background-color: rgb(95, 183, 91);
  color: white;
  border-radius: 2rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 10rem;

  transition: 0.3s;
}

.addButton:hover {
  background-color: rgb(217, 94, 17);
  font-weight: bold;
}
